In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#importing dataset from csv file

transport= pd.read_csv("Nov09JnyExport.csv")
transport

,downo,daytype,SubSystem,StartStn,EndStation,EntTime,EntTimeHHMM,ExTime,EXTimeHHMM,ZVPPT,JNYTYP,DailyCapping,FFare,DFare,RouteID,FinalProduct
0,3,Tue,LUL,Unstarted,Kings Cross M,0,00:00,633,10:33,Z0104,TKT,N,0,0,XX,LUL Travelcard-7 Day
1,4,Wed,LUL,Unstarted,Sudbury Hill,0,00:00,447,07:27,Z0110,TKT,N,0,0,XX,Freedom Pass (Elderly)
2,3,Tue,NR,Unstarted,Richmond,0,00:00,966,16:06,Z0304,TKT,N,0,0,XX,LUL Travelcard-7 Day
3,4,Wed,NR,Unstarted,Romford,0,00:00,657,10:57,Z0110,TKT,N,0,0,XX,Freedom Pass (Elderly)
4,6,Fri,NR,Unstarted,Norwood Junction SR,0,00:00,450,07:30,Z0104,TKT,N,0,0,XX,LUL Travelcard-7 Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2623482,7,Sat,TRAM,GEORGE STRT TRAM,Wimbledon,999,16:39,1025,17:05,-------,PPY,N,0,0,XX,PAYG
2623483,3,Tue,LUL,Wood Lane,Baker Street,999,16:39,1019,16:59,Z0102,TKT,N,0,0,XX,LUL Travelcard-1 Month
2623484,6,Fri,LUL,Tottenham Court Rd,Oval,999,16:39,1016,16:56,-------,PPY,N,220,220,XX,PAYG
2623485,7,Sat,LTB,Bus,Bus,999,16:39,0,00:00,Z0203,TKT,N,0,0,262,LUL Travelcard-7 Day
2623486,6,Fri,LTB,Bus,Bus,999,16:39,0,00:00,B0104,TKT,N,0,0,55,Bus & Tram Pass (Child Free)

In [3]:
transport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623487 entries, 0 to 2623486
Data columns (total 16 columns):
 #   Column        Dtype
---  ------        -----
 0   downo         int64
 1   daytype       object
 2   SubSystem     object
 3   StartStn      object
 4   EndStation    object
 5   EntTime       int64
 6   EntTimeHHMM   object
 7   ExTime        int64
 8   EXTimeHHMM    object
 9   ZVPPT         object
 10  JNYTYP        object
 11  DailyCapping  object
 12  FFare         int64
 13  DFare         int64
 14  RouteID       object
 15  FinalProduct  object
dtypes: int64(5), object(11)
memory usage: 210.2+ MB

In [4]:
transport.drop(["downo","EntTime","ExTime","ZVPPT","JNYTYP","DailyCapping","FFare","DFare","FinalProduct"],axis=1, inplace=True)
print(transport.head(10))

  daytype SubSystem   StartStn           EndStation EntTimeHHMM EXTimeHHMM  \
0     Tue       LUL  Unstarted        Kings Cross M       00:00      10:33
1     Wed       LUL  Unstarted         Sudbury Hill       00:00      07:27
2     Tue        NR  Unstarted             Richmond       00:00      16:06
3     Wed        NR  Unstarted              Romford       00:00      10:57
4     Fri        NR  Unstarted  Norwood Junction SR       00:00      07:30
5     Fri       LUL  Unstarted       Clapham Common       00:00      07:19
6     Thu        NR  Unstarted  Norwood Junction SR       00:00      07:34
7     Thu        NR  Unstarted              Norbury       00:00      15:55
8     Thu       LUL  Unstarted       Clapham Common       00:00      07:11
9     Mon       LUL  Unstarted        Kings Cross M       00:00      08:18

  RouteID
0      XX
1      XX
2      XX
3      XX
4      XX
5      XX
6      XX
7      XX
8      XX
9      XX

In [5]:
transport = transport.rename(columns={ 'daytype': 'DayType', 'EndStation': 'EndStn',
                        'EXTimeHHMM': 'ExTimeHHMM',})

In [6]:
transport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2623487 entries, 0 to 2623486
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   DayType      object
 1   SubSystem    object
 2   StartStn     object
 3   EndStn       object
 4   EntTimeHHMM  object
 5   ExTimeHHMM   object
 6   RouteID      object
dtypes: object(7)
memory usage: 70.1+ MB

In [7]:
unstarted = transport[ transport['StartStn'] == "Unstarted" ].index 
unended = transport[ transport['EndStn'] == "Unended" ].index 
#route = transport[ transport['RouteID'] == "XX" ].index

In [8]:
transport.drop(unstarted, inplace = True) 
transport.drop(unended, inplace = True) 
#transport.drop(route, inplace = True) 
transport

,DayType,SubSystem,StartStn,EndStn,EntTimeHHMM,ExTimeHHMM,RouteID
45989,Mon,LUL,Goodge Street,Totteridge,16:40,17:21,XX
45990,Fri,LTB,Bus,Bus,16:40,00:00,242
45991,Thu,LTB,Bus,Bus,16:40,00:00,16
45992,Fri,LTB,Bus,Bus,16:40,00:00,254
45993,Sat,LTB,Bus,Bus,16:40,00:00,474
...,...,...,...,...,...,...,...
2623482,Sat,TRAM,GEORGE STRT TRAM,Wimbledon,16:39,17:05,XX
2623483,Tue,LUL,Wood Lane,Baker Street,16:39,16:59,XX
2623484,Fri,LUL,Tottenham Court Rd,Oval,16:39,16:56,XX
2623485,Sat,LTB,Bus,Bus,16:39,00:00,262
2623486,Fri,LTB,Bus,Bus,16:39,00:00,55

In [9]:
print(sorted(transport['RouteID'].unique()))

['1', '10', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '11', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '12', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '13', '131', '132', '133', '134', '135', '136', '137', '138', '139', '14', '140', '141', '142', '143', '143D', '144', '145', '146', '147', '148', '149', '15', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '15H', '16', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '17', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '18', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '19', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '2', '20', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '21', '210', '211', '212', '213', '214', '215', '216', '217', '219', '22', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '23', '230', '231', '232', '233', '234', '235', '236', '237', '238', '24', '240', '241', '242', '243', '244', '245', '246', '247', '248', '249', '25', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '26', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '27', '270', '271', '272', '273', '274', '275', '276', '277', '279', '28', '280', '281', '281R', '282', '283', '284', '285', '286', '287', '288', '289', '29', '290', '291', '292', '293', '294', '295', '296', '297', '298', '299', '2U', '3', '30', '300', '302', '303', '305', '307', '308', '309', '31', '312', '313', '315', '316', '317', '318', '319', '32', '320', '321', '322', '323', '325', '326', '327', '328', '329', '33', '330', '331', '332', '333', '336', '337', '339', '34', '340', '341', '343', '344', '345', '346', '347', '349', '35', '350', '352', '353', '354', '355', '356', '357', '358', '359', '36', '360', '362', '363', '364', '365', '366', '367', '368', '369', '37', '370', '370D', '371', '372', '375', '376', '377', '379', '38', '380', '381', '382', '383', '384', '385', '386', '387', '388', '389', '39', '390', '391', '393', '394', '395', '396', '397', '398', '399', '4', '40', '401', '403', '404', '405', '405D', '406', '407', '41', '410', '411', '412', '413', '414', '415', '417', '418', '419', '42', '422', '423', '424', '425', '427', '428', '43', '430', '432', '434', '436', '44', '440', '444', '45', '450', '452', '453', '455', '46', '460', '462', '463', '464', '465', '466', '467', '468', '469', '47', '470', '472', '473', '474', '476', '48', '481', '482', '484', '485', '486', '487', '488', '49', '490', '491', '492', '493', '496', '498', '499', '5', '50', '507', '51', '52', '521', '53', '54', '549', '55', '56', '57', '58', '59', '6', '60', '601', '602', '603', '605', '606', '607', '608', '609', '61', '611', '612', '613', '614', '616', '617', '62', '621', '624', '625', '626', '627', '628', '629', '63', '632', '634', '635', '636', '637', '638', '639', '64', '640', '641', '642', '643', '646', '647', '648', '649', '65', '650', '651', '652', '653', '654', '655', '656', '657', '658', '66', '660', '661', '664', '665', '667', '669', '66U', '67', '671', '672', '673', '674', '675', '678', '679', '68', '681', '683', '685', '686', '687', '688', '689', '69', '690', '691', '692', '696', '697', '698', '699', '7', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '8', '80', '81', '82', '83', '84', '85', '86', '86U', '87', '88', '89', '9', '90', '91', '92', '93', '94', '95', '953', '96', '969', '97', '98', '99', '9H', 'A10', 'B11', 'B12', 'B13', 'B14', 'B15', 'B16', 'C1', 'C10', 'C10D', 'C11', 'C2', 'C3', 'D3', 'D6', 'D7', 'D8', 'E1', 'E10', 'E11', 'E2', 'E3', 'E5', 'E6', 'E7', 'E8', 'E9', 'ELW', 'G1', 'H1', 'H10', 'H11', 'H12', 'H13', 'H14', 'H17', 'H18', 'H19', 'H2', 'H20', 'H22', 'H25', 'H26', 'H28', 'H3', 'H32', 'H37', 'H9', 'H91', 'H98', 'K1', 'K2', 'K3', 'K4', 'K5', 'LBN', 'N1', 'N10', 'N102', 'N105', 'N108', 'N11', 'N111', 'N119', 'N12', 'N128', 'N13', 'N133', 'N134', 'N136', 'N137', 'N139', 'N14', 'N140', 'N148', 'N149', 'N15', 'N155', 'N159', 'N16', 'N171', 'N176', 'N18', 'N188', 'N189', 'N19', 'N2', 'N20', 'N205', 'N207', 'N21', 'N213', 'N214', 'N22', 'N220', 'N23', 'N236', 'N24', 'N242', 'N243', 'N25', 'N250', 'N253', 'N26', 'N264', 'N266', 'N27', 'N271', 'N274', 'N277', 'N279', 'N28', 'N281', 'N285', 'N29', 'N295', 'N297', 'N3', 'N31', 'N321', 'N341', 'N343', 'N344', 'N345', 'N35', 'N36', 'N365', 'N369', 'N37', 'N38', 'N381', 'N390', 'N41', 'N43', 'N44', 'N453', 'N47', 'N472', 'N474', 'N5', 'N52', 'N53', 'N55', 'N550', 'N551', 'N57', 'N6', 'N63', 'N65', 'N68', 'N69', 'N7', 'N72', 'N73', 'N74', 'N76', 'N8', 'N83', 'N85', 'N86', 'N87', 'N88', 'N89', 'N9', 'N91', 'N93', 'N94', 'N97', 'N98', 'NC2', 'P12', 'P13', 'P4', 'P5', 'PR2', 'R1', 'R10', 'R11', 'R2', 'R3', 'R4', 'R5', 'R6', 'R68', 'R7', 'R70', 'R8', 'R9', 'RV1', 'S1', 'S3', 'S4', 'T031', 'T032', 'T033', 'T130', 'T314', 'U1', 'U10', 'U2', 'U3', 'U4', 'U5', 'U7', 'U9', 'W10', 'W11', 'W12', 'W13', 'W14', 'W15', 'W16', 'W19', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'X26', 'X68', 'XX']

In [10]:
transport['RouteID'].value_counts()

XX     809413
86      12066
25      11170
36      10606
254     10526
        ...
665         1
969         1
LBN         1
632         1
689         1
Name: RouteID, Length: 745, dtype: int64

In [11]:
print(sorted(transport['SubSystem'].unique()))

['DLR', 'DLR/LRC', 'HEX', 'LRC', 'LTB', 'LUL', 'LUL/DLR', 'LUL/LRC', 'LUL/NR', 'LUL/NR/DLR', 'LUL/NR/LRC', 'LUL/TRAM', 'NR', 'NR/DLR', 'NR/LRC', 'TRAM']

In [12]:
transport['SubSystem'].value_counts()

LTB           1768080
LUL            702843
NR              25789
LUL/NR          24851
LUL/DLR         13911
TRAM             9583
DLR              9008
LUL/NR/LRC       8012
NR/LRC           5991
LRC              3369
LUL/LRC          3087
LUL/NR/DLR       1865
HEX               751
NR/DLR            263
LUL/TRAM           86
DLR/LRC             4
Name: SubSystem, dtype: int64

In [14]:
transport.reset_index(inplace = True)

In [19]:
print(transport.shape)
transport.head(40)

(2577493, 8)

,index,DayType,SubSystem,StartStn,EndStn,EntTimeHHMM,ExTimeHHMM,RouteID
0,45989,Mon,LUL,Goodge Street,Totteridge,16:40,17:21,XX
1,45990,Fri,LTB,Bus,Bus,16:40,00:00,242
2,45991,Thu,LTB,Bus,Bus,16:40,00:00,16
3,45992,Fri,LTB,Bus,Bus,16:40,00:00,254
4,45993,Sat,LTB,Bus,Bus,16:40,00:00,474
5,45994,Thu,LUL,Preston Road,Northwood,16:40,17:04,XX
6,45995,Sat,NR,Ilford,Unfinished,16:40,00:00,XX
7,45996,Fri,LTB,Bus,Bus,16:40,00:00,92
8,45997,Sat,LTB,Bus,Bus,16:40,00:00,120
9,45998,Thu,LUL,Holborn,Bounds Green,16:40,17:08,XX
10,45999,Tue,LTB,Bus,Bus,16:40,00:00,K1
11,46000,Thu,LTB,Bus,Bus,16:40,00:00,313
12,46001,Thu,LTB,Bus,Bus,16:40,00:00,259
13,46002,Mon,LTB,Bus,Bus,16:40,00:00,237
14,46003,Sun,LUL,Earls Court,Pimlico,16:40,17:01,XX
15,46004,Thu,LTB,Bus,Bus,16:40,00:00,260
16,46005,Tue,LUL,Victoria,Bethnal Green,16:40,17:07,XX
17,46006,Fri,LUL/NR,Walthamstow Central,Arsenal,16:40,16:57,XX
18,46007,Sun,LTB,Bus,Bus,16:40,00:00,208
19,46008,Mon,LTB,Bus,Bus,16:40,00:00,111
20,46009,Fri,LTB,Bus,Bus,16:40,00:00,191
21,46010,Fri,LTB,Bus,Bus,16:40,00:00,69
22,46011,Thu,LTB,Bus,Bus,16:40,00:00,147
23,46012,Tue,LTB,Bus,Bus,16:40,00:00,259
24,46013,Wed,LTB,Bus,Bus,16:40,00:00,119
25,46014,Sat,LTB,Bus,Bus,16:40,00:00,32
26,46015,Thu,LTB,Bus,Bus,16:40,00:00,387
27,46016,Wed,LTB,Bus,Bus,16:40,00:00,217
28,46017,Thu,LTB,Bus,Bus,16:40,00:00,185
29,46018,Wed,LTB,Bus,Bus,16:40,00:00,87
30,46019,Mon,LUL,Highbury,Stratford,16:40,17:00,XX
31,46020,Tue,LTB,Bus,Bus,16:40,00:00,213
32,46021,Mon,LTB,Bus,Bus,16:40,00:00,14
33,46022,Thu,LTB,Bus,Bus,16:40,00:00,211
34,46023,Sun,LTB,Bus,Bus,16:40,00:00,253
35,46024,Wed,LTB,Bus,Bus,16:40,00:00,15
36,46025,Sat,LUL,Embankment,Putney Bridge,16:40,17:06,XX
37,46026,Mon,LTB,Bus,Bus,16:40,00:00,H22
38,46027,Tue,LTB,Bus,Bus,16:40,00:00,234
39,46028,Tue,LTB,Bus,Bus,16:40,00:00,H17